.ewwsk { 
  font-size: 30px;
  margin-bottom: 66px;
  border-right-width: 65px;
  border-bottom-width: 22px;
  padding-left: 89px;
  line-height: 37px;
  padding-right: 49px;
  border-bottom-width: 37px;
  font-size: 94px;
  border-top-width: 23px;
  font-size: 56px;
  border-right-width: 54px;
  margin-right: 11px;
  border-top-width: 2px;
  border-top-width: 29px;
  font-size: 93px;
  padding-right: 53px;
  padding-bottom: 5px;
  border-top-width: 94px;
  padding-left: 15px;
  margin-bottom: 72px;
  margin-left: 5px;
  margin-top: 10px;
  padding-right: 68px;
  margin-right: 82px;
  padding-bottom: 8px;
  padding-top: 40px;
  font-size: 56px;
  line-height: 57px;
}
